.app-layout {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.app-layout .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl .app-layout .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.app-layout .app-content {
  padding: 0 50px;
}
.app-layout .app-breadcrumb {
  padding: 16px 0px;
}
